@charset "UTF-8";

th {
	min-width: 5em;
}

#url, #baseUrl {
	width: 333px;
}

#resourceView {
	float: right;
	width: 600px;
}

.headerField input {
	width: 222px;
}

.responseHeaders {
	font-size: 0.9em;
}

.requestResponse {
	position: absolute;
	border: 1px solid black;
	background-color: white;
	visibility: hidden;
	width: 590px;
}

.violationMessage {
	color: red;
	font-style: italic;
}

.nonViolationMessage {
	color: green;
	font-style: italic;
}