<?xml version="1.0" encoding="utf-8"?>
<web-app
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5"
		>
		
	<display-name>RESTfulChecker</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
			/WEB-INF/app-context.xml
		</param-value>
  	</context-param>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        
	    <init-param>
			<param-name>targetBeanName</param-name>
			<param-value>characterEncodingFilter</param-value>
	    </init-param>
	    <init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
	    </init-param>
	</filter>
	
	<filter-mapping>
    	<filter-name>CharacterEncodingFilter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<mime-mapping>
		<extension>js</extension>
		<mime-type>application/javascript</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>json</extension>
		<mime-type>application/json</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>less</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	
  	<servlet>
	    <servlet-name>via</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
  	</servlet>
 
  	<servlet-mapping>
    	<servlet-name>via</servlet-name>
    	<url-pattern>/via/*</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	    <servlet-name>apichecker</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
  	</servlet>
 
  	<servlet-mapping>
    	<servlet-name>apichecker</servlet-name>
    	<url-pattern>/checkapi/*</url-pattern>
  	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
